<div class='container'>
  <div class='row'>
    <div class='span12'>
      <div class="page-header">
        <h2>Your Sirportly Gentlemen</h2>
      </div>

      <table class='table table-striped'>
        <tr>
          <th>Name</th>
          <th>Last Check</th>
          <th>Last Event Out</th>
          <th>Last Event In</th>
          <th>Events</th>
          <th>Schedule</th>
          <th>Working?</th>
          <th></th>
        </tr>

        <% @gentlemen.each do |gentleman| %>
            <tr>
              <td>
                <%= gentleman.name %>
                <br/>
                <span class='muted'><%= gentleman.short_type.titleize %></span>
              </td>
              <td>
                <% if gentleman.cannot_be_scheduled? %>
                    N/A
                <% else %>
                    <%= gentleman.last_check_at ? time_ago_in_words(gentleman.last_check_at) + " ago" : "never" %>
                <% end %>
              </td>
              <td><%= gentleman.last_event_at ? time_ago_in_words(gentleman.last_event_at) + " ago" : "never" %></td>
              <td>
                <% if gentleman.cannot_receive_events? %>
                    N/A
                <% else %>
                    <%= gentleman.last_receive_at ? time_ago_in_words(gentleman.last_receive_at) + " ago" : "never" %>
                <% end %>
              </td>
              <td><%= link_to(gentleman.events_count || 0, events_path(:gentleman => gentleman.to_param)) %></td>
              <td><%= (gentleman.schedule || "n/a").to_s.humanize.titleize %></td>
              <td><%= working(gentleman) %></td>
              <td>
                <div class="btn-group">
                  <%= link_to 'Show', gentleman_path(gentleman), class: "btn btn-mini" %>
                  <%= link_to 'Edit', edit_gentleman_path(gentleman), class: "btn btn-mini" %>
                  <%= link_to 'Delete', gentleman_path(gentleman), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-mini" %>
                  <% if gentleman.can_be_scheduled? %>
                      <%= link_to 'Run', run_gentleman_path(gentleman), method: :post, class: "btn btn-mini" %>
                  <% else %>
                      <%= link_to 'Run', "#", class: "btn btn-mini disabled" %>
                  <% end %>
                </div>
              </td>
            </tr>
        <% end %>
      </table>

      <%= paginate @gentlemen, :theme => 'twitter-bootstrap' %>

      <br/>

      <div class="btn-group">
        <%= link_to '<i class="icon-plus"></i> New Gentleman'.html_safe, new_gentleman_path, class: "btn" %>
        <%= link_to '<i class="icon-refresh"></i> Prod Gentlemen'.html_safe, propagate_gentlemen_path, method: 'post', class: "btn" %>
        <%= link_to '<i class="icon-random"></i> View agreements'.html_safe, diagram_gentlemen_path, class: "btn" %>
      </div>
    </div>
  </div>
</div>

